.constructor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
  width: 600px;
  font-size: 18px;
  margin-left: auto; /* Сдвигаем вправо */
  padding: 10px;
}

.constructor__input {
  width: 70%; /* Занимать всю доступную ширину */
  margin-bottom: 10px; /* Добавить отступ снизу между инпутами */
}

.constructor__btn {
  width: 60%;
}
